<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Perspective Zoom</title>

    <link rel="icon" type="image/png" href="/favico.png" />
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href='/'>Perspective Zoom</a></h1>
        <p>The personal blog of a Michael Chen</p>

        <a href="/posts"></a><br />
        <a href="/projects">projects</a><br />
        <br />
        <a href="https://github.com/perspectivezoom">github</a><br />
        <a href="http://www.linkedin.com/in/perspectivezoom">linkedin</a>

      </header>
      <section>

        {{ content }}

      </section>
      <footer>
        <p><small>
          blog@perspectivezoom.com<br />
          Hosted on GitHub Pages<br />
          Theme modified from <a href="https://github.com/orderedlist">orderedlist</a>
        </small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>